.wp-block-video gds-cmp-embed,
.wp-embed-responsive .wp-block-embed:not(.wp-has-aspect-ratio) gds-cmp-embed {
  position: relative;
  aspect-ratio: 16 / 9;

  &::part(message) {
    position: absolute;
  }
}

