@use "../../styles/common/functions.scss" as *;

gds-cmp-modal-dialog {
  display: flex;
  z-index: 10000;
  contain: strict;

  &::part(dialog) {
    box-sizing: border-box;
    max-width: 680px;
    max-width: fit-content;
    padding:
      #{sloped-size(24px, 60px)}
      #{sloped-size(12px, 60px)};
    border-radius: 10px;
    box-shadow: 1px 1px 4px #0000001a;
    max-height: 90vh;
    max-height: 90dvh;
    overflow: auto;
    margin: 0 16px;
  }

  &::part(overlay) {
    animation: fade-in 0.2s both;
    background: rgba(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    contain: strict;
  }

  &[aria-hidden] {
    display: none;
  }

  > * {
    margin-block-start: var(--block-gutter-start, var(--block-gutter));
    margin-block-end: var(--block-gutter-end, var(--block-gutter));
  }

  p {
    min-width: 100%;
    width: min-content;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
